*{
    font-family: 'Montserrat', sans-serif !important;
}

#logo{
    width: 6%;
}

main{
    margin: 0 !important;
    padding: 0 !important;
}

.card_img{
    height: 500px !important;
}

#video{
    width: 100%;
}

.main_cont{
    background-image: url(img/fon_flowers.png);
    height: 1000px;
}

.carousel{
    display: flex !important;
    justify-content: center !important;
}

.carousel-item img{
    width: 90%;
}

.carousel-item .card{
    width: 90% !important;
}

.row__pink{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 30px;
    left: 190px;
    background-color: #FDECEF;
    z-index: 1;
}

.img-about{
    z-index: 10;
}

.btn-pink{
    background-color: #A16771;
    color: white;
}

.btn-blue{
    background-color: #96ACBA;
    color: white;
}

.form-group input{
    min-width: 220px;
}